@model MyBlog.WebUI.Areas.Administrator.Models.ViewModels.ContactIndexViewModel
@{
    ViewData["Title"] = "Contacts Page";
}
<div class="admin-object-table col-md-12">
    <div class="search-object-base">
        <div class="search-object">
            <form asp-controller="Contact" asp-action="Index" method="get">
                <input class="form-control form-fix" name="search" placeholder="Search Contact">
                <button type="submit" class="btn btn-info">Search</button>
            </form>
        </div>
        <div class="admin-object-table-info">
            @if (TempData["searchContact"] != null)
            {
                <div class="alert alert-primary" style="margin-top: 50px" role="alert">
                    Searched Contact : @TempData["searchContact"]
                </div>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Contact Name</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Message</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Contacts.Count == 0)
                    {
                        <tr>
                            <td colspan="4" style="text-align: center">No Contact</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var contact in Model.Contacts)
                        {
                            <tr id="row_contact_@contact.ContactId">
                                <td>@contact.ContactName</td>
                                <td>@contact.Email</td>
                                <td>@contact.Message</td>
                                <td>
                                    <a class="table-button-object" href="#" onclick="return getContactById(@contact.ContactId)">Update</a> |
                                    <a class="table-button-object" href="#" onclick="deleteContact(@contact.ContactId)">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="pagining-admin">
            <nav aria-label="Page navigation example" style="display:inline-block;">
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
