@model MyBlog.WebUI.Models.ViewModels.CategoryPostsViewModel
@{
    ViewData["Title"] = $"{Model.Category.CategoryName} Kategorisi - Ömer ARIYÜREK";
}
@section metaTags
{
    <meta name="description" content="@Model.Category.MetaDescription" />
    <meta name="keywords" content="@Model.Category.MetaKeywords" />
}
<section class="load-more">
    <h2 class="load-more--main-title">@Model.Category.CategoryName kategorisine ait yazılar</h2>
    @foreach (var post in Model.PostDetails)
    {
        <div class="load-more__other-post">
            <a href="@Url.Action("Get","Post",new{@seoUrl=@post.SeoUrl})">
                <img src="@post.FirstImage" alt="@post.MetaKeywords" title="@post.Title">
                <h2 class="load-more__other-post--title">@post.Title</h2>
            </a>
            <ul class="load-more__other-post--date-category">
                <li class="date">@post.CreatedDate.ToString("MM/dd/yyyy")</li>
                <li class="hyphen">-</li>
                <li class="category">
                    @foreach (var category in post.PostCategories)
                    {
                        <a href="@Url.Action("CategoryPosts","Category",new{@seoUrl=@category.SeoUrl})" class="title">@category.CategoryName</a>
                    }
                </li>
            </ul>
        </div>
    }
    <category-posts-paging page-size="@Model.PageSize" page-count="@Model.PageCount" current-page="@Model.CurrentPage" current-category="@Model.CurrentCategory"></category-posts-paging>
</section>