@model MyBlog.WebUI.Models.ViewModels.CategoryIndexViewModel
@{
    ViewData["Title"] = "Kategoriler - Ömer ARIYÜREK";
}
<section class="category-content">
    <div class="category-content__category-name">
        <h2 class="category-content__category-name--category">Kategoriler</h2>
    </div>
    <ul class="category-content__content-box">
        @foreach (var category in Model.Categories)
        {
            <li class="category-content__content-box--item">
                <img src="~/Content/images/category-background.jpg" />
                <a href="@Url.Action("CategoryPosts","Category",new{@seoUrl=@category.SeoUrl})" class="title">@category.CategoryName</a>
            </li>
        }
    </ul>
    <categories-paging page-size="@Model.PageSize" page-count="@Model.PageCount" current-page="@Model.CurrentPage">
    </categories-paging>
</section>