@model MyBlog.WebUI.Models.ViewModels.FooterViewModel

<section class="footer">
    <div class="footer__top">
        <li>
            <span class="footer__top--title"><a class="footer__top--title-text" href="@Url.Action("Index","Tag")">Etiketler</a></span>
            <ul class="footer__top--tags-list">
                @foreach (var tag in Model.Tags)
                {
                    <li><a href="@Url.Action("TagPosts","Tag",new{@seoUrl=tag.SeoUrl})">@tag.TagName</a></li>
                }
            </ul>
        </li>
        <li>
            <span class="footer__top--title"><a class="footer__top--title-text" href="@Url.Action("Index","Category")" target="_blank">Kategoriler</a></span>
            <ul class="footer__top--categories-list">
                @foreach (var category in Model.Categories)
                {
                    <li><a href="@Url.Action("CategoryPosts","Category",new{@seoUrl=category.SeoUrl})">@category.CategoryName</a></li>
                }
            </ul>
        </li>
        <li>
            <span class="footer__top--title">Beni Takip Edin</span>
            <ul class="footer__top--social-media">
                <li><a href="https://github.com/omerariyurek" target="_blank"><i class="fab fa-github icon-font-size"></i></a></li>
                <li><a href="https://www.linkedin.com/in/omerariyurek/" target="_blank"><i class="fab fa-linkedin icon-font-size"></i></a></li>
                <li><a href="https://medium.com/@@omerariyurek" target="_blank"><i class="fab fa-medium icon-font-size"></i></a></li>
            </ul>
        </li>
    </div>
    <div class="footer-bottom">
        <p>Bu sitenin kaynak kodlarına <a href="https://github.com/omerariyurek/my-blog" target="_blank"><i class="fab fa-github git-icon"></i> GitHub</a> üzerinden ulaşabilirsiniz.</p>
        <nav>
            <a href="@Url.Action("Index","Home")">Anasayfa</a>
            <a href="@Url.Action("Index","Post")">Yazılar</a>
            <a href="@Url.Action("Index","Contact")">İletişim</a>
        </nav>
    </div>
</section>