@model MyBlog.WebUI.Areas.Administrator.Models.ViewModels.TagIndexViewModel
@{
    ViewData["Title"] = "Tags Page";
}
<div class="admin-new-object">
    <div class="admin-add-object col-md-4">
        <div class="admin-object-text">
            <h3 class="font-bold">Add New Tag</h3>
            <div class="admin-object-input">
                <form id="categoryUpdateForm" asp-controller="Tag" asp-action="Add" method="post" asp-antiforgery="true">
                    <div class="form-group form-design">
                        <label asp-for="Tag.TagName">Tag Name</label>
                        <input asp-for="Tag.TagName" placeholder="Tag Name" class="form-control">
                        <span class="form-validation-alert" asp-validation-for="Tag.TagName"></span>
                    </div>
                    <div class="form-group form-design">
                        <label asp-for="Tag.MetaDescription">Meta Description</label>
                        <textarea asp-for="Tag.MetaDescription" rows="2" cols="20" class="form-control" style="resize: none;" placeholder="Meta Description"></textarea>
                        <span class="form-validation-alert" asp-validation-for="Tag.MetaDescription"></span>
                    </div>
                    <div class="form-group form-design">
                        <label asp-for="Tag.MetaKeywords">Meta Keywords</label>
                        <textarea asp-for="Tag.MetaKeywords" rows="2" cols="20" class="form-control" style="resize: none;" placeholder="Meta Keywords"></textarea>
                        <span class="form-validation-alert" asp-validation-for="Tag.MetaKeywords"></span>
                    </div>
                    <div class="button-object-add">
                        <button type="submit" class="btn btn-info">Add Tag</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="admin-object-table col-md-8">
        <div class="search-object-base">
            <div class="search-object">
                <form asp-controller="Tag" asp-action="Index" method="get">
                    <input asp-for="Tag.TagName" class="form-control form-fix" name="search" placeholder="Search Tag">
                    <button type="submit" class="btn btn-info">Search</button>
                </form>
            </div>
        </div>
        <div class="admin-object-table-info">
            @if (TempData["searchTag"] != null)
            {
                <div class="alert alert-primary" style="margin-top: 50px" role="alert">
                    Searched Tag : @TempData["searchTag"]
                </div>
            }
            else if (TempData["Error"] != null)
            {
                <div class="alert alert-danger" style="margin-top: 50px" role="alert">
                    @TempData["Error"]
                </div>
            }
            else if (TempData["Success"] != null)
            {
                <div class="alert alert-success" style="margin-top: 50px" role="alert">
                    @TempData["Success"]
                </div>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Tag Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                @if (Model.Tags.Count == 0)
                {
                    <tbody>
                        <tr>
                            <td colspan="3" style="text-align: center">No Tag</td>
                        </tr>
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var tag in Model.Tags)
                        {
                            <tr id="row_tag_@tag.TagId">
                                <td>@tag.TagName</td>
                                <td>@tag.Status</td>
                                <td>
                                    <a class="table-button-object" href="#" onclick="return getTagById(@tag.TagId)">Update</a> |
                                    <a class="table-button-object" href="#" onclick="deleteTag(@tag.TagId)">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        <div class="paging-admin">
            <tag-paging page-size="@Model.PageSize" page-count="@Model.PageCount" current-page="@Model.CurrentPage"search-tag="@Model.SearchTag">
            </tag-paging>
        </div>
    </div>
</div>
<div class="modal fade" id="tagUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Tag" asp-action="Update" method="post" asp-antiforgery="true">
                    <input type="hidden" asp-for="Tag.TagId" id="TagIdModal" />
                    <div class="form-group form-design">
                        <label asp-for="Tag.TagName" class="col-form-label">Tag Name</label>
                        <input asp-for="Tag.TagName" class="form-control" id="TagNameModal" />
                        <span asp-validation-for="Tag.TagName"></span>
                    </div>
                    <div class="form-group form-design">
                        <label asp-for="Tag.MetaDescription">Meta Description</label>
                        <textarea asp-for="Tag.MetaDescription" rows="2" cols="20" id="TagMetaDescriptionModal" class="form-control" style="resize: none;" placeholder="Meta Description"></textarea>
                        <span class="form-validation-alert" asp-validation-for="Tag.MetaDescription"></span>
                    </div>
                    <div class="form-group form-design">
                        <label asp-for="Tag.MetaKeywords">Meta Keywords</label>
                        <textarea asp-for="Tag.MetaKeywords" id="TagMetaKeywordsModal" rows="2" cols="20" class="form-control" style="resize: none;" placeholder="Meta Keywords"></textarea>
                        <span class="form-validation-alert" asp-validation-for="Tag.MetaKeywords"></span>
                    </div>
                    <div class="form-group form-design" style="padding-bottom: 10px;">
                        <label asp-for="Tag.SeoUrl" class="col-form-label">Seo Url</label>
                        <input asp-for="Tag.SeoUrl" class="form-control" id="TagSeoUrlModal" disabled="disabled" />
                    </div>

                    <div class="modal-footer">
                        <div class="form-check alignment">
                            <input type="checkbox" asp-for="Tag.Status" class="form-check-input" id="TagStatusModal" />
                            <label asp-for="Tag.Status" class="form-check-label">Status</label>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>