@model MyBlog.WebUI.Models.ViewModels.PostIndexViewModel
@{
    ViewData["Title"] = "Yazılar - Ömer ARIYÜREK";
}
<section class="load-more">
    <h2 class="load-more--main-title">Diğer Yazılar</h2>
    @foreach (var post in Model.PostDetails)
    {
        <div class="load-more__other-post">
            <a href="@Url.Action("Get","Post",new{@seoUrl=@post.SeoUrl})">
                <img src="@post.FirstImage" alt="">
                <h2 class="load-more__other-post--title">@post.Title</h2>
            </a>
            <ul class="load-more__other-post--date-category">
                <li class="date">@post.CreatedDate.ToString("MM/dd/yyyy")</li>
                <li class="hyphen">-</li>
                <li class="category">
                    @foreach (var category in post.PostCategories)
                    {
                        <a href="@Url.Action("CategoryPosts", "Category", new {@seoUrl = category.SeoUrl})">@category.CategoryName</a>
                    }
                </li>
            </ul>
        </div>
    }
    <posts-paging page-size="@Model.PageSize" page-count="@Model.PageCount" current-page="@Model.CurrentPage">
    </posts-paging>
</section>