@model MyBlog.WebUI.Models.ViewModels.TagIndexViewModel
@{
    ViewData["Title"] = "Etiketler - Ömer Arıyürek";
}
<section class="category-content">
    <div class="category-content__category-name">
        <h2 class="category-content__category-name--category">Etiketler</h2>
    </div>
    <ul class="category-content__content-box">
        @foreach (var tag in Model.Tags)
        {
            <li class="category-content__content-box--item">
                <img src="~/Content/images/category-background.jpg" />
                <a href="@Url.Action("TagPosts","Tag",new{@seoUrl=tag.SeoUrl})" class="title">@tag.TagName</a>
            </li>
        }
    </ul>
    <tags-paging page-size="@Model.PageSize" page-count="@Model.PageCount" current-page="@Model.CurrentPage"></tags-paging>
</section>