@model MyBlog.WebUI.Models.ViewModels.TagPostsViewModel
@{
    ViewData["Title"] = $"{Model.Tag.TagName} Etiketi - Ömer ARIYÜREK";
}
@section metaTags
{
    <meta name="description" content="@Model.Tag.MetaDescription" />
    <meta name="keywords" content="@Model.Tag.MetaKeywords" />
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:url" content="https://www.omerariyurek.com/category/@Model.Tag.SeoUrl">
    <meta property="og:description" content="@Model.Tag.MetaDescription" />
}
<section class="load-more">
    <h1 class="load-more--main-title">@Model.Tag.TagName etiketine ait yazılar</h1>
    @foreach (var post in Model.PostDetails)
    {
        <div class="load-more__other-post">
            <a href="@Url.Action("Get","Post",new{@seoUrl=@post.SeoUrl})">
                <img src="@post.FirstImage" alt="@post.Title" title="@post.Title">
                <h2 class="load-more__other-post--title">@post.Title</h2>
            </a>
            <ul class="load-more__other-post--date-category">
                <li class="date">@post.CreatedDate.ToString("dd/MM/yyyy")</li>
                <li class="hyphen">-</li>
                <li class="category">
                    @foreach (var category in post.PostCategories)
                    {
                        <a href="@Url.Action("CategoryPosts","Category",new{@seoUrl=@category.SeoUrl})" class="title" title="@category.CategoryName">@category.CategoryName</a>
                    }
                </li>
            </ul>
        </div>
    }
    <tag-posts-paging page-size="@Model.PageSize" page-count="@Model.PageCount" current-page="@Model.CurrentPage" current-tag="@Model.CurrentTag"></tag-posts-paging>
</section>