@model MyBlog.WebUI.Areas.Administrator.Models.ViewModels.CommentIndexViewModel
@{
    ViewData["Title"] = "Comments Page";
}
<div class="admin-object-table col-md-12">
    <div class="search-object-base">
        <div class="search-object">
            <form asp-controller="Comment" asp-action="Index" method="get">
                <input class="form-control form-fix" name="search" placeholder="Search Comment">
                <button type="submit" class="btn btn-info">Search</button>
            </form>
        </div>
    </div>
    @if (TempData["searchComment"] != null)
    {
        <div class="alert alert-primary" style="margin-top: 50px" role="alert">
            Searched Comment : @TempData["searchComment"]
        </div>
    }
    <div class="admin-object-table-info">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Author Name</th>
                    <th scope="col">Author E-Mail</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Post Name</th>
                    <th scope="col">Approved</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Comments.Count == 0)
                {
                    <tr>
                        <td colspan="6" style="text-align: center">No Comment</td>
                    </tr>
                }
                else
                {
                    foreach (var comment in Model.Comments)
                    {
                        <tr id="row_comment_@comment.CommentId">
                            <td>@(comment.AuthorName.Length > 20 ? comment.AuthorName.Substring(0, 16) + "..." : comment.AuthorName)</td>
                            <td>@(comment.AuthorEmail.Length > 15?comment.AuthorEmail.Substring(0,12)+"...":comment.AuthorEmail)</td>
                            <td>@(comment.Content.Length > 50 ? comment.Content.Substring(0, 46) + "..." : comment.Content)</td>
                            <td>@(comment.Post.Title.Length > 50 ? comment.Post.Title.Substring(0, 46) + "..." : comment.Post.Title)</td>
                            <td>@comment.Approved</td>
                            <td>
                                <a class="table-button-object" href="#" onclick="return getCommentById(@comment.CommentId)">Update</a> |
                                <a class="table-button-object" href="#" onclick="deleteComment(@comment.CommentId)">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="paging-admin">
        <comment-paging page-size="@Model.PageSize" page-count="@Model.PageCount" current-page="@Model.CurrentPage" search-comment="@Model.SearchComment">
        </comment-paging>
    </div>
</div>
<div class="modal fade" id="commentUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Comment" asp-action="Update" asp-antiforgery="true" method="post">
                    <input type="hidden" asp-for="Comment.CommentId" id="CommentIdModal" />
                    <input type="hidden" asp-for="Comment.PostId" id="CommentPostIdModal" />
                    <div class="form-group form-design">
                        <label asp-for="Comment.AuthorName" class="col-form-label">Author Name</label>
                        <input asp-for="Comment.AuthorName" class="form-control" id="AuthorNameModal" />
                        <span asp-validation-for="Comment.AuthorName"></span>
                    </div>
                    <div class="form-group form-design">
                        <label asp-for="Comment.AuthorName" class="col-form-label">Comment</label>
                        <textarea rows="3" asp-for="Comment.Content" class="form-control textarea-size" id="CommentContentModal"></textarea>
                    </div>
                    <div class="form-group form-design" style="padding-bottom: 10px;">
                        <label asp-for="Comment.AuthorEmail" class="col-form-label">Author E-Mail</label>
                        <input asp-for="Comment.AuthorEmail" class="form-control" id="AuthorEmailModal" />
                    </div>
                    <div class="form-group form-design" style="padding-bottom: 10px;">
                        <label asp-for="Comment.Post.Title" class="col-form-label">Post Title</label>
                        <input asp-for="Comment.Post.Title" class="form-control" id="PostTitleModal" disabled="disabled" />
                    </div>
                    <div class="modal-footer">
                        <div class="form-check alignment">
                            <input type="checkbox" asp-for="Comment.Approved" class="form-check-input" id="CommentApprovedModal" />
                            <label asp-for="Comment.Approved" class="form-check-label">Status</label>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>